Repository xh/hoist-react, pull requests merged in 2020-08, with the labels that each got.

#2033 Add GridModel.setColumnVisible() method
  CHANGELOG.md
  cmp/grid/GridModel.js
Labels: grid

#2002 Filter model
  CHANGELOG.md
  admin/differ/DifferModel.js
  admin/tabs/activity/clienterrors/ClientErrorsModel.js
  admin/tabs/activity/clienterrors/ClientErrorsView.js
  admin/tabs/activity/tracking/ActivityTrackingModel.js
  admin/tabs/activity/tracking/ActivityTrackingView.js
  cmp/dataview/DataViewModel.js
  cmp/dimensionchooser/DimensionChooserModel.js
  cmp/filter/FilterChooserModel.js
  cmp/filter/impl/FilterChooserFieldSpec.js
  cmp/filter/index.js
  cmp/grid/GridAutosizeMode.js
  cmp/grid/GridModel.js
  cmp/store/StoreFilterField.js
  cmp/store/impl/StoreFilterFieldImplModel.js
  core/enums/RefreshMode.js
  core/enums/RenderMode.js
  core/impl/ModelLookup.js
  core/modelspec/ModelSpec.js
  data/Field.js
  data/Store.js
  data/StoreFilter.js
  data/cube/Cube.js
  data/cube/CubeField.js
  data/cube/Query.js
  data/cube/View.js
  data/cube/filter/ValueFilter.js
  data/filter/CompoundFilter.js
  data/filter/FieldFilter.js
  data/filter/Filter.js
  data/filter/FunctionFilter.js
  data/filter/Utils.js
  data/impl/RecordSet.js
  data/index.js
  desktop/cmp/dimensionchooser/DimensionChooser.js
  desktop/cmp/dimensionchooser/DimensionChooser.scss
  desktop/cmp/filter/FilterChooser.js
  desktop/cmp/filter/FilterChooser.scss
  desktop/cmp/filter/index.js
  desktop/cmp/leftrightchooser/LeftRightChooserModel.js
  desktop/cmp/treemap/TreeMapModel.js
  mobile/cmp/dimensionchooser/DimensionChooser.js
  utils/datetime/LocalDate.js
Labels: breaking-change

#2042 Support for Column.displayName + defaulting
  CHANGELOG.md
  cmp/dimensionchooser/DimensionChooserModel.js
  cmp/filter/impl/FilterChooserFieldSpec.js
  cmp/form/field/BaseFieldModel.js
  cmp/grid/GridModel.js
  cmp/grid/columns/Column.js
  cmp/grid/columns/ColumnGroup.js
  data/Field.js
  data/cube/CubeField.js
  desktop/cmp/filter/FilterChooser.js
Labels: grid

#2034 CodeInput search feature
  CHANGELOG.md
  desktop/cmp/input/CodeInput.js
  desktop/cmp/input/CodeInput.scss
Labels: client-request

#2032 Add GridModel.showGroupRowCounts config
  CHANGELOG.md
  cmp/grid/Grid.js
  cmp/grid/GridModel.js
Labels: grid
