Repository xh/hoist-react, pull requests merged in 2020-09, with the labels that each got.

#2083 GridModel checks isReady before reading selection
  cmp/grid/GridModel.js
Labels: grid

#2089 Add disabled prop to FilterChooser
  CHANGELOG.md
  desktop/cmp/filter/FilterChooser.js
Labels: bug

#2093 Hide headers grid config
  CHANGELOG.md
  admin/tabs/general/services/ServiceModel.js
  admin/tabs/general/services/ServicePanel.js
  cmp/ag-grid/AgGridModel.js
  cmp/grid/Grid.js
  cmp/grid/GridModel.js
  desktop/cmp/filechooser/FileChooser.js
  desktop/cmp/filechooser/FileChooserModel.js
Labels: breaking-change, grid

#2086 Enhance ColChooserModel config and expose it via GridModel
  CHANGELOG.md
  admin/tabs/activity/clienterrors/ClientErrorsModel.js
  admin/tabs/activity/feedback/FeedbackPanel.js
  admin/tabs/activity/tracking/ActivityTrackingModel.js
  admin/tabs/activity/tracking/detail/ActivityDetailModel.js
  admin/tabs/general/configs/ConfigModel.js
  admin/tabs/general/ehcache/EhCacheModel.js
  admin/tabs/general/users/UserModel.js
  admin/tabs/logging/LogLevelPanel.js
  admin/tabs/monitor/MonitorEditorPanel.js
  admin/tabs/preferences/JsonBlobPanel.js
  admin/tabs/preferences/PreferenceModel.js
  admin/tabs/preferences/UserPreferencePanel.js
  cmp/grid/GridModel.js
  desktop/cmp/button/ColChooserButton.js
  desktop/cmp/contextmenu/StoreContextMenu.js
  desktop/cmp/grid/impl/ColChooser.js
  desktop/cmp/grid/impl/ColChooserDialog.js
  desktop/cmp/grid/impl/ColChooserModel.js
  mobile/cmp/button/ColChooserButton.js
  mobile/cmp/grid/impl/ColChooser.js
Labels: breaking-change
